* {
	font-family: 'helvetica','arial',sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 16px;
}

body {
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
}

h1 {
	font-size: 24px;
	text-align: center;
	padding: 12px 0;
}

h2 {
	font-size: 22px;
	padding: 10px 0;
}

h3 {
	font-size: 18px;
	padding: 10px 0;
}

p {
	font-size: 16px;
	padding: 8px 0;
}

table {
	display: block;
	margin: 16px auto;
	border-collapse: collapse;
}

td {
	
	border-color: black;
	border-style: solid;
	border-width: 1px;
	text-align: center;
	font-size: 16px;
	padding: 8px;
}
